.Rproj.user
.Rhistory
.RData
.Ruserdata
data/SBC-LTE/knb-lter-sbc.119.11
data/SBC-LTE/knb-lter-sbc.119.11.zip
data/SBC-LTER/knb-lter-sbc.58.18.zip
data/SBC-LTER/knb-lter-sbc.58.18
data/SBC-LTE/knb-lter-sbc.58.18.zip
data/SBC-LTE/knb-lter-sbc.58.18
vert.txt